<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:name="uk.openvk.android.refresh.OvkApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/ApplicationTheme.SplashTheme"
        tools:targetApi="m">
        <activity
            android:name=".ui.core.activities.MainActivity"
            android:exported="true"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden|mcc|mnc">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.core.activities.AuthActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden|mcc|mnc|uiMode"
            android:label="@string/title_activity_auth" />
        <activity
            android:name=".ui.core.activities.AppActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"
            android:label="@string/app_name"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden|mcc|mnc|uiMode"
            android:theme="@style/ApplicationTheme.NoActionBar"
            tools:ignore="RedundantLabel" />
        <activity
            android:name=".ui.core.activities.ConversationActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"
            android:label="@string/nav_messages"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden|mcc|mnc|uiMode"
            android:theme="@style/ApplicationTheme.NoActionBar"
            tools:ignore="RedundantLabel" />
        <activity
            android:name=".ui.core.activities.NewPostActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"
            android:label="@string/new_post_title"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden|mcc|mnc|uiMode"
            android:theme="@style/ApplicationTheme.NoActionBar"
            tools:ignore="RedundantLabel" />

        <activity android:name=".ui.core.activities.ProfileIntentActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize"
            android:label="@string/profile_title"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden|mcc|mnc|uiMode"
            android:theme="@style/ApplicationTheme.NoActionBar"
            tools:ignore="RedundantLabel">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="openvk" android:host="profile" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.core.activities.GroupIntentActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize"
            android:label="@string/community_title"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden|mcc|mnc|uiMode"
            android:theme="@style/ApplicationTheme.NoActionBar"
            tools:ignore="RedundantLabel">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="openvk" android:host="group" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>